*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text-primary);
}

a:active,
a:hover {
  outline: 0;
}

:active {
  outline: none;
}

footer,
header,
main,
nav,
section {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

.address {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* ------------------------- root ---------------------------- */

:root {
  --width: 90rem;

  --pallete-mirage: #1a1f29;
  --pallete-shuttle-gray: #5e626b;
  --pallete-manatee: #929499;
  --pallete-silver: #cccccc;
  --pallete-mercury: #e5e5e5;
  --pallete-white: #ffffff;
  --pallete-deep-koamaru: #171c8f;
  --pallete-Concrete: #f2f2f2;

  --pallete-black: #000000;
  --pallete-bombay: #aeaeb0;
  --pallete-biloba-flower: #ba9be6;
  --pallete-sea-pink: #e9a0a7;
  --pallete-apricot-peach: #f8cab1;
  --pallete-antique-brass: #c88252;

  --color-social-link: var(--pallete-shuttle-gray);

  --color-text-primary: var(--pallete-mirage);
  --color-text-primary-activ: var(--pallete-manatee);
  --color-text-secondary: var(--pallete-shuttle-gray);
  --color-text-disabled: var(--pallete-silver);

  --color-text-hover: var(--pallete-bombay);

  --color-border-primary: var(--pallete-silver);
  --color-border-secondary: var(--pallete-mirage);
  --background-color-primary: var(--pallete-mercury);
  --background-color-secondary: var(--pallete-white);
  --background-color-header: var(--pallete-white);
  --background-color-disabled: var(--pallete-Concrete);
  --color-slash: var(--pallete-manatee);
  --button-background-color-primary: var(--pallete-white);
  --button-background-color-secondary: var(--pallete-deep-koamaru);
  --button-text-color-primary: var(--pallete-white);
  --button-text-color-secondary: var(--pallete-mirage);
  --button-border-color-primary: var(--pallete-silver);
  --button-border-color-secondary: var(--pallete-deep-koamaru);
  --background-color-button-burger: var(--pallete-mirage);
  --background-color-button-burger-active: var(--pallete-shuttle-gray);

  --text-xxl: 3rem;
  --text-xl: 2rem;
  --text-lg: 1.5rem;
}

/* -----------------------------  header --------------------- */

.header {
}
.header__container {
}
.container {
  max-width: var(--width);
  margin: 0 auto;
}
.header__menu {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.menu {
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.menu__item {
  flex: 1 1 auto;
}
.menu__link:hover {
  color: var(--color-text-hover);
}
.main {
}
.container__menu {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main__general-info {
  flex: 1;
}
.general-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.image__wrap {
  max-width: 100%;
  height: auto;
}
.general-info__image {
  width: 100%;
}
.general-info__heading {
  text-align: center;
  text-transform: uppercase;
}
.heading--xxl {
  font-size: var(--text-xxl);
  line-height: 1.2;
}
.general-info__contacts {
}
.contact {
}
.contact__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.heading--xl {
  font-size: var(--text-xl);
}
.contact__list {
  padding-left: 2rem;
  padding-right: 2rem;
}
.contact__item + .contact__item {
  padding-top: 0.5rem;
}
.contact__link {
}
.contact--phone {
}
.contact--email {
}
.contact--git {
}
.general-info__skills {
}
.skill {
}
.skill__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.skill__list {
  padding-left: 2rem;
  padding-right: 2rem;
}
.skill__item + .skill__item {
  padding-top: 0.5rem;
}
.general-info__languages {
}
.language {
}
.language__heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.language__list {
  padding-left: 2rem;
  padding-right: 2rem;
}
.language__item + .language__item {
  padding-top: 0.5rem;
}
.main__info {
  flex: 2;
}
.info {
}
.info__about {
}
.about {
}
.about__heading {
}

.about__text {
}
.info__education {
}
.education {
}
.education__heading {
}
.education__list {
}
.education__item {
}
.item {
}
.item__heading {
}
.heading--lg {
  font-size: var(--text-lg);
}
.item__text {
}
.info__code {
}
.code {
}
.code__heading {
}
.code__text {
}
